body {
  font-family: Helvetica;
  color: black;
}

h1 {
  text-align: center;
}

.menutext {
  padding: 10px;
  margin: 10px;
}


.navbar-default .navbar-text {
  color: black;
  text-align: center;
  width: 100%;
}

.navbar-text {
  position: relative;
  font-weight: bold;
  font-size: 2em;
  color: black;
}

.menuitem {
  background-color: gray;
}


.menulink {
  text-align: center;
  color: black;
  zoom: 1.5;
}

.row {
  margin: 0px;
}

.menulinkfirst {
  text-align: center;
  color: black;
  zoom: 1.5;
  border-width: 2px 2px 0px 2px;
  border-style: solid;
  border-color: black;
}

.menulinkother {
  text-align: center;
  color: black;
  zoom: 1.5;
  border-width: 2px 2px 2px 2px;
 border-style: solid;
  border-color: black;
}


#bs-example-navbar-collapse-1 {

   color: black;
   background-color: white;

}

a {
  color: black;
}

container-fluid {
  border: 0;
  padding: 0;
}


.navheading {
    clear: both;
    width: 100%;
    font-size: 2em;
    text-align: center;
    border: 0;
}

.container-fullwidth {
  font-weight: bold;
  color: black;
}

.navbar-header {

  position: relative;
  padding: 10px;
  background-color: gray;

}

.navbar-default .navbar-brand {
  color: black;
}

h4 {
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
}

@media (min-width: 768px) {
   .navbar-header {
     width: 100%;
   }
}

@media (max-width: 767px) {

}
